@model AsesorRecepcion
@{
    ViewData["Title"] = "Crear Asesor";
}

<head>
    <link rel="stylesheet" href="~/css/SkormJF.css" asp-append-version="true" />
</head>
<section class="Submain">
    <div class="MarginContainer">
        <h1 class="text-center mb-5">Crear Asesor</h1>
        <form method="post" asp-action="Create">
            <div class="form-group mb-3">
                <label class="form-label">Correo</label>
                <input class="form-control" placeholder="Ingrese correo..." asp-for="Correo">
            </div>
            <div class="form-group mb-3">
                <label>Contraseña</label>
                <input class="form-control" placeholder="Ingrese correo..." asp-for="Contrasena">
            </div>
            <div class="form-group mb-3">
                <label>Modulo</label>
                <input class="form-control" placeholder="Ingrese correo..." asp-for="Modulo">
            </div>
            <div class="form-group mb-3">
                <label>Tipo de cargo</label>
                <select class="form-select" name="Roles" id="">
                    <option value="Asesor">Asesor</option>
                    <option value="Admin">Admin</option>
                </select>
            </div>
            <button class="btn btn-lg btn-success mt-3" type="submit">Crear</button>
        </form>
    </div>    
    
</section>

