@model AsesorRecepcion

@{
    ViewData["Title"] = "Detalles Asesor";
}

<!DOCTYPE html>
<html lang="en">
<head>
    
</head>
<body>
@section Sidebar{
    <div class="area"></div>
        <nav class="main-menu nav">
            <ul class="d-flex flex-column gap-3">
              <li class="mt-5">
                  <a asp-controller="Employees" asp-action="Index">
                      <i class="fa fa-home fa-2x"></i>
                      <span class="nav-text">
                          Inicio
                      </span>
                  </a>
              </li>
              <li>
                  <a asp-controller="Create" asp-action="Index">
                      
                      <span class="nav-text">
                          Usuarios
                      </span>
                  </a>
              </li>
              <li>
                  <a asp-controller="Create" asp-action="Index">
                      
                      <span class="nav-text">
                          Turnos
                      </span>
                  </a>
              </li>
              <li>
                  <a asp-controller="Create" asp-action="Index">
                      
                      <span class="nav-text">
                          Empleados
                      </span>
                  </a>
              </li>
            </ul>

            <ul class="logout">
                <li>
                   <a asp-controller="Login" asp-action="Logout">
                        <i class="fa-solid fa-right-from-bracket"></i>
                        <span class="nav-text gap-2">
                            Logout
                        </span>
                    </a>
                </li>  
            </ul>
        </nav>
  }

  <div class="container">
    <div class="row RowTable">
        <div class="col-md-12">
            <form class="form" method="get" asp-action="Details">
                <div class="col-2 mb-3">
                    <label>Correo</label>
                    <input class="form-control" asp-for="Correo" placeholder="@Model.Correo" type="text">
                </div>
                <div class="col-2 mb-3">
                    <label>Modulo</label>
                    <input class="form-control" asp-for="Modulo" placeholder="@Model.Modulo" type="text">
                </div>
                
                <a class="btn btn-sm btn-success" asp-controller="Empleados" asp-action="Home">Regresar</a>
            </form>
        </div>          
    </div>
  </div>
</body>
</html>