@{
  ViewData["Title"] = "Empleados";
}

<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="~/css/Admin.css" asp-append-version="true" />
</head>
<body>

  @section Sidebar{
    <div class="area"></div>
        <nav class="main-menu nav">
            <ul class="d-flex flex-column gap-3">
              <li class="mt-5">
                  <a asp-controller="Empleados" asp-action="Home">
                      <i class="fa fa-home fa-2x"></i>
                      <span class="nav-text">
                          Inicio
                      </span>
                  </a>
              </li>
              <li>
                  <a asp-controller="Admin" asp-action="Usuarios">
                      
                      <span class="nav-text">
                          Usuarios
                      </span>
                  </a>
              </li>
              <li>
                  <a asp-controller="Admin" asp-action="Turnos">
                      
                      <span class="nav-text">
                          Turnos
                      </span>
                  </a>
              </li>
              <li>
                  <a asp-controller="Admin" asp-action="Empleados">
                      
                      <span class="nav-text">
                          Empleados
                      </span>
                  </a>
              </li>
            </ul>

            <ul class="logout">
                <li>
                   <a asp-controller="Empleados" asp-action="Index">
                        <i class="fa-solid fa-right-from-bracket"></i>
                        <span class="nav-text gap-2">
                            Logout
                        </span>
                    </a>
                </li>  
            </ul>
        </nav>
  }

  <div class="container">
    <div class="row RowTable">
      <div class="col-md-9">
        <h1 class="text-center mb-3 mt-3">Empleados</h1>

        <form class="form d-flex gap-3 mb-3" method="get">
            <input class="form-control" type="text" placeholder="Ingrese Empleado...">
            <button class="btn btn-primary">Search</button>
        </form>
        <table class="table table-hover table-striped text-center">
          <thead class="table table-dark text-center">
            <tr>
              <th scope="col">id</th>
              <th scope="col">Correo</th>
              <th scope="col">Modulo</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            @foreach(var AsseorRecepcion in Model){

                <tr class="text-center">
                    <th scope="row">@AsseorRecepcion.Id</th>
                    <td>@AsseorRecepcion.Correo</td>
                    <td>@AsseorRecepcion.Modulo</td>
                    <td class="d-flex gap-3 justify-content-center">
                        <a class="btn btn-sm btn-dark">Eliminar</a>
                        <a class="btn btn-sm btn-dark">Editar</a>
                        <a class="btn btn-success" asp-controller="Admin" asp-action="Details" asp-route-id="@AsseorRecepcion.Id">Detalles</a>
                    </td>
                </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>

</body>
</html>

