<h1>Hola soy Empleado</h1>

<form action="">
    <input type="text">
    <button class="btn btn-primary">Search</button>
</form>
<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Correo</th>
      <th scope="col">Contraseña</th>
      <th scope="col">Modulo</th>
      <th scope="col">Tipo de empleado</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    @foreach(var AsseorRecepcion in Model){

        <tr>
            <th scope="row">@AsseorRecepcion.Id</th>
            <td>@AsseorRecepcion.Correo</td>
            <td>@AsseorRecepcion.Contrasena</td>
            <td>@AsseorRecepcion.Modulo</td>
            <td></td>
            <td>
                <a class="btn btn-danger">Eliminar</a>
                <a class="btn btn-primary">Editar</a>
            </td>
        </tr>
    }
  </tbody>
</table>