@{
  ViewData["Title"] = "Empleados";
}

<head>
  <link rel="stylesheet" href="~/css/Admin.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/css/SkormJF.css" asp-append-version="true" />
</head>


@section Sidebar{
    <header>
        <nav class="nav_top">
            <ul>
                <li>
                    <a asp-controller="Empleados" asp-action="Home">
                        <lord-icon
                            src="https://cdn.lordicon.com/laqlvddb.json"
                            trigger="hover"
                            stroke="bold"
                            colors="primary:#109121,secondary:#ffffff"
                            class="nav_icon">
                        </lord-icon> <!-- imagen -->
                        <span class="nav_text">Inicio</span>
                    </a>
                </li>
                <li>
                    <a asp-controller="Admin" asp-action="Empleados">
                        <lord-icon
                            src="https://cdn.lordicon.com/zorvjzqh.json"
                            trigger="hover"
                            stroke="bold"
                            colors="primary:#109121,secondary:#ffffff"
                            class="nav_icon">
                        </lord-icon> <!-- imagen -->
                        <span class="nav_text">Empleados</span>
                    </a>
                </li>
                <li>
                    <a asp-controller="Admin" asp-action="Turnos">
                    <lord-icon
                        src="https://cdn.lordicon.com/wzwygmng.json"
                        trigger="hover"
                        stroke="bold"
                        colors="primary:#109121,secondary:#ffffff"
                        class="nav_icon">
                    </lord-icon> <!-- imagen -->
                    <span class="nav_text">Turnos</span> 
                    </a>
                </li>
                <li>
                    <a asp-controller="Admin" asp-action="Usuarios">
                        <lord-icon
                            src="https://cdn.lordicon.com/wzrwaorf.json"
                            trigger="hover"
                            stroke="bold"
                            colors="primary:#109121,secondary:#ffffff"
                            class="nav_icon">
                        </lord-icon><!-- imagen -->
                        <span class="nav_text">Usuarios</span>
                    </a>
                </li>
                <li>
                    <a asp-controller="Admin" asp-action="Index">
                        <lord-icon
                            src="https://cdn.lordicon.com/abwrkdvl.json"
                            trigger="hover"
                            stroke="bold"
                            colors="primary:#109121,secondary:#ffffff"
                            class="nav_icon">
                        </lord-icon><!-- imagen -->
                        <span class="nav_text">CMR</span>
                    </a>
                </li>
            </ul>
        </nav>
    </header>
}

<section class="Submain">
  <div class="container Border Overflow">
    <div class="row RowTable">
      <div class="col-md-9">
        <h1 class="text-center mb-3 mt-3">Empleados</h1>

        <form class="form d-flex justify-content-evenly" method="get">
            <input class="form-control" type="text" placeholder="Ingrese Empleado...">
            <button class="btn btn-primary btn-sm">Search</button>
        </form>
        <table class="table table-hover table-striped text-center">
          <thead class="table table-dark text-center">
            <tr>
              <th scope="col">id</th>
              <th scope="col">Correo</th>
              <th scope="col">Modulo</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            @foreach(var AsseorRecepcion in Model){

                <tr class="text-center">
                    <th scope="row">@AsseorRecepcion.Id</th>
                    <td>@AsseorRecepcion.Correo</td>
                    <td>@AsseorRecepcion.Modulo</td>
                    <td class="d-flex gap-3 justify-content-center">
                        <a class="btn btn-sm btn-dark">Eliminar</a>
                        <a class="btn btn-success" asp-controller="Admin" asp-action="Details" asp-route-id="@AsseorRecepcion.Id">Detalles</a>
                    </td>
                </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>


