@{
  ViewData["Title"] = "Usuarios";
}

<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="~/css/Admin.css" asp-append-version="true" />
</head>
<body>

    @section Sidebar{
      <div class="area"></div>
        <nav class="main-menu nav">
            <ul class="d-flex flex-column gap-3">
              <li class="mt-5">
                  <a asp-controller="Empleados" asp-action="Home">
                      <i class="fa fa-home fa-2x"></i>
                      <span class="nav-text">
                          Inicio
                      </span>
                  </a>
              </li>
              <li>
                  <a asp-controller="Admin" asp-action="Usuarios">
                      
                      <span class="nav-text">
                          Usuarios
                      </span>
                  </a>
              </li>
              <li>
                  <a asp-controller="Admin" asp-action="Turnos">
                      
                      <span class="nav-text">
                          Turnos
                      </span>
                  </a>
              </li>
              <li>
                  <a asp-controller="Admin" asp-action="Empleados">
                      
                      <span class="nav-text">
                          Empleados
                      </span>
                  </a>
              </li>
            </ul>

            <ul class="logout">
                <li>
                    <a asp-controller="Empleados" asp-action="Index">
                        <i class="fa-solid fa-right-from-bracket"></i>
                        <span class="nav-text gap-2">
                            Logout
                        </span>
                    </a>
                </li>  
            </ul>
        </nav>
    }

<div class="container">
  <h1 class="text-center">Usuarios</h1>
  <div class="row RowTable">
    <div class="col-md-9">

      <form class="form d-flex gap-3 mb-3" method="get">
            <input class="form-control" type="text" placeholder="Buscar...">
            <button class="btn btn-sm btn-primary" type="submit">Search</button>
      </form>

      <table class="table table-hover table-striped text-center">
        <thead class="table table-dark text-center">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Documento</th>
            <th scope="col">Atención Preferencial</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          @foreach(var Usuarios in Model){
              <tr>
                  <th scope="row">@Usuarios.Id</th>
                  <td>@Usuarios.DocumentoIdentidad</td>
                  <td>@Usuarios.typeDocument</td>
                  <td>
                      <button class="btn btn-danger" asp-controller="Admin" asp-action="DeleteUser" asp-route-id="@Usuarios.Id">Delete</button>
                  </td>
              </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>

</body>
</html>
