@{
  ViewData["Title"] = "Usuarios";
}


<head>
  <link rel="stylesheet" href="~/css/Admin.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/css/SkormJF.css" asp-append-version="true" />
</head>
@section Sidebar{
    <header>
        <nav class="nav_top">
            <ul>
                <li>
                    <a asp-controller="Empleados" asp-action="Home">
                        <lord-icon
                            src="https://cdn.lordicon.com/laqlvddb.json"
                            trigger="hover"
                            stroke="bold"
                            colors="primary:#109121,secondary:#ffffff"
                            class="nav_icon">
                        </lord-icon> <!-- imagen -->
                        <span class="nav_text">Inicio</span>
                    </a>
                </li>
                <li>
                    <a asp-controller="Admin" asp-action="Empleados">
                        <lord-icon
                            src="https://cdn.lordicon.com/zorvjzqh.json"
                            trigger="hover"
                            stroke="bold"
                            colors="primary:#109121,secondary:#ffffff"
                            class="nav_icon">
                        </lord-icon> <!-- imagen -->
                        <span class="nav_text">Empleados</span>
                    </a>
                </li>
                <li>
                    <a asp-controller="Admin" asp-action="Turnos">
                    <lord-icon
                        src="https://cdn.lordicon.com/wzwygmng.json"
                        trigger="hover"
                        stroke="bold"
                        colors="primary:#109121,secondary:#ffffff"
                        class="nav_icon">
                    </lord-icon> <!-- imagen -->
                    <span class="nav_text">Turnos</span> 
                    </a>
                </li>
                <li>
                    <a asp-controller="Admin" asp-action="Usuarios">
                        <lord-icon
                            src="https://cdn.lordicon.com/wzrwaorf.json"
                            trigger="hover"
                            stroke="bold"
                            colors="primary:#109121,secondary:#ffffff"
                            class="nav_icon">
                        </lord-icon><!-- imagen -->
                        <span class="nav_text">Usuarios</span>
                    </a>
                </li>
                <li>
                    <a asp-controller="Admin" asp-action="Index">
                        <lord-icon
                            src="https://cdn.lordicon.com/abwrkdvl.json"
                            trigger="hover"
                            stroke="bold"
                            colors="primary:#109121,secondary:#ffffff"
                            class="nav_icon">
                        </lord-icon><!-- imagen -->
                        <span class="nav_text">CMR</span>
                    </a>
                </li>
            </ul>
        </nav>
    </header>
}

<section class="Submain">
  <div class="container Overflow Border">
  <h1 class="text-center">Usuarios</h1>
  <div class="row RowTable">
    <div class="col-md-9">

      <form class="form d-flex gap-3 mb-3" asp-controller="Admin" asp-action="SearchUsers" method="get">
            <input class="form-control" type="text" name="SearchString" placeholder="Buscar...">
            <button class="btn btn-sm btn-primary" type="submit">Search</button>
      </form>

      <table class="table table-hover table-striped text-center">
        <thead class="table table-dark text-center">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Documento</th>
            <th scope="col">Atención Preferencial</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          @foreach(var Usuarios in Model){
              <tr>
                  <th scope="row">@Usuarios.Id</th>
                  <td>@Usuarios.DocumentoIdentidad</td>
                  <td>@Usuarios.typeDocument</td>
                  <td>
                      <a class="btn btn-danger" asp-controller="Admin" asp-action="DeleteUser" asp-route-id="@Usuarios.Id">Delete</a>
                  </td>
              </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
</section>




