@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Domine:wght@400..700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Inconsolata:wght@200..900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Signika+Negative:wght@300..700&display=swap');


:root{
  --white: #fafafa;
  --obsidian: #0b1215;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  font-family: "Signika Negative", sans-serif;
  background: linear-gradient(rgba(253, 253, 253, 0.685), rgba(255, 255, 255, 0.568)), 
              url("../assets/img/FondoIndex.jpg") no-repeat center / cover;
  height: 100vh; /* 100% de la altura de la ventana del navegador */
  width: 100%; /* 100% del ancho de la ventana del navegador */
  margin: 0; /* Eliminar margen predeterminado */
  padding: 0; /* Eliminar relleno predeterminado */
}
