*{
    font-family: 'Domine', sans-serif;
    font-weight: bolder;
}

.Main{
    color: var(--obsidian); 
}

.Background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../assets/img/FondoIndex.jpg");
    background-size: cover;
    background-position: center center;
    opacity: 0.4;
}

.Background::before, .slider::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}

.titleWelcome {
    font-size: 3.7rem;
}

.LogoContainer{
    position: relative;
    z-index: 1;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.ButtonsIndex{
    position: relative;
    z-index: 1;
    width: 100%;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.ButtonsForm{
    position: relative;
    z-index: 1;
    width: 35%;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.ButtonSize{
    width: 100%;
    height: 80px;
    color: var(--white);
    font-size: 2rem;
    border-radius: 10px;
    background-image: linear-gradient(to right, #424bae, #009f58);
    box-shadow: 0px 4px 5px rgba(125, 235, 215);
    display: flex;
    justify-content: center;
    align-items: center;
}

.linkEnviar {
    width: 15%;
    height: 45px;
    color: var(--white);
    font-size: 30px;
    border-radius: 10px;
    background-image: linear-gradient(to right, #424bae, #009f58);
    box-shadow: 0px 4px 5px rgba(125, 235, 215);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
}

.LogoImg{
    width: 100%;
    height: 300px;
    background-image: url("../assets/img/Logo.png");
    filter: drop-shadow(0px 0px 15px var(--obsidian));
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.DataContainer{
    position: relative;
    z-index: 1;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

select, input{
    width: 30% !important;
    height: 20%;
    text-align: center;
    border: solid black !important;;
}
select {
    font-size: 1.2rem !important;
}

input {
    font-size: 2.1rem !important;
}

.Buttons{
    width: 30%;
    height: 80px;
    font-size: 30px;
    border-radius: 10px;
}

.Buttons:nth-child(10), .Buttons:nth-child(12){
    background-image: linear-gradient(to right, #424bae, #009f58);
    box-shadow: 0px 4px 5px rgba(125, 235, 215);
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}


.slider{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
}

@keyframes slidermove{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-800%);
    }
}

.slider-move{
    width: 100%;
    height: 100%;
    display: inline-block;
    animation: slidermove 220s linear 0s infinite;
}

.Fondo1,.Fondo2,.Fondo3,.Fondo4,.Fondo5,.Fondo6,.Fondo7,.Fondo8{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
}

.Fondo1{
    background-image: url("../assets/img/Fondo1.jpg");
}
.Fondo2{
    background-image: url("../assets/img/Fondo2.jpg");
}
.Fondo3{
    background-image: url("../assets/img/Fondo3.jpg");
}
.Fondo4{
    background-image: url("../assets/img/Fondo4.jpg");
}
.Fondo5{
    background-image: url("../assets/img/Fondo5.jpg");
}
.Fondo6{
    background-image: url("../assets/img/Fondo6.jpg");
}
.Fondo7{
    background-image: url("../assets/img/Fondo7.jpg");
}
.Fondo8{
    background-image: url("../assets/img/Fondo8.jpg");
}

.Tickets{
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 35%;
    height: 100%;
    overflow-y: scroll;
    font-size: 40px;
}

::-webkit-scrollbar{
    width: 0;
}

.FondoTabla{
    z-index: 1;
    background-image: url("../assets/img/Nubes.jpg");
    background-size: cover;
    background-position: center center;
}





