<head>
    <link rel="stylesheet" href="~/css/SkormJF.css" />
</head>

<section class="Main">
    <div class="Background"></div>
    <div class="DataContainer">
        <h1>Ingresa tu documento</h1>
        <select class="form-select form-select-lg mb-3" >
            <option disabled selected>Selecciona tu tipo de documento</option>
            <option value="1">Cedula</option>
            <option value="2">Tarjeta de identidad</option>
            <option value="3">Pasaporte</option>
        </select>
        <input type="text" class="form-control form-select-lg">
    </div>
    <div class="ButtonsForm">
        <button class="Buttons">1</button>
        <button class="Buttons">2</button>
        <button class="Buttons">3</button>
        <button class="Buttons">4</button>
        <button class="Buttons">5</button>
        <button class="Buttons">6</button>
        <button class="Buttons">7</button>
        <button class="Buttons">8</button>
        <button class="Buttons">9</button>
        <a class="Buttons" asp-controller="usuario" asp-action="optionindex">Enviar</a>
        <button class="Buttons">0</button>
        <button class="Buttons">Borrar</button>
    </div>
</section>