<head>
    <link rel="stylesheet" href="~/css/SkormJF.css" />
</head>

<section class="Main mt-5">
    <div class="Background"></div>
    <div class="d-flex flex-column justify-content-center align-item-center">
        <div class="LogoContainer" >
            <div class="LogoImg"></div>
            <h1 class="text-center titleWelcome mt-3">BIENVENIDO</h1>
        </div>
        <div class="ButtonsIndex">
            <div class="row">
                <div class="col">
                    <a asp-asp-controller="Usuario" asp-action="FormIndex" class="btn btn-info btn-lg ButtonSize" as >Solicitar turno</a>
                </div>
                <div class="col">
                    <a asp-asp-controller="Usuario" asp-action="" class="btn btn-info btn-lg ButtonSize">Info general</a>
                </div>
                <div class="col">
                    <a asp-asp-controller="Usuario" asp-action="TicketScreen" class="btn btn-info btn-lg ButtonSize" >Atencion preferencial</a>
                </div>
            </div>
        </div>
    </div>
</section>