<section class="Main">
    <div class="LogoContainer">
        <h1>BIENVENIDO</h1>
        <div class="LogoImg"></div>
        <h1>A LA MISERICORIDA</h1>
    </div>
    <div class="ButtonsIndex">

    </div>
</section>