@{
    ViewData["Title"] = "Options";
}
<link rel="stylesheet" href="~/css/fondoOptions.css" asp-append-version="true" />

<div class="container-fluid">
    <div class="row d-flex justify-content-between mb-4">
        <div class="col-auto">
            <img class="logo img-fluid" src="../assets/img/Logo.png" alt="Logo de la empresa">
        </div>
        <div class="col-auto">
            <img class="logoWifi img-fluid" src="../assets/img/iconWifiFree.png" alt="Icono WiFi">
        </div>
    </div>

    <div class="container my-3" style="height: 100%;">

            <div class="row d-flex justify-content-">
                <div class="col d-flex justify-content-center">
                    <img class="logoClick img-fluid mb-4" src="../assets/img/iconClick.png" alt="Ícono clickeable">
                </div>
            </div>

            <h4 class="text-center mb-5 textDescription">Toque la opción de servicio que desea en esta pantalla para tomar un turno</h4>

            <div class="row btnOptions">
                <div class="col-md-4">
                    <a asp-route-servicio="SM" class="btn btn-primary mb-3 w-100" asp-controller="usuario" asp-action="ticket" value="SM">
                        <div class="ButtonWithImage me-3">
                            <img src="../assets/img/medicine.png" alt="Ícono de solicitud de turno" class="btn-img">
                        </div>          
                        <span>
                            Solicitar Medicamento
                        </span>
                    </a>
                </div>
                <div class="col-md-4">
                    <a asp-route-servicio="VF" class="btn btn-primary mb-3 w-100" asp-controller="usuario" asp-action="ticket" value="VF">
                        <div class="ButtonWithImage me-3">
                            <img src="../assets/img/bill.png" alt="Ícono de solicitud de turno" class="btn-img">
                        </div>         
                        <span>
                            Ver Facturas
                        </span>
                    </a>
                </div>
                <div class="col-md-4">
                    <a asp-route-servicio="SC" class="btn btn-primary mb-3 w-100" asp-controller="usuario" asp-action="ticket" value="SC">
                        <div class="ButtonWithImage me-3">
                            <img src="../assets/img/medical.png" alt="Ícono de solicitud de turno" class="btn-img">
                        </div>    
                        <span>
                            Solicitar Citas
                        </span>
                    </a>
                </div>
            </div>
            
    </div>
</div>
