
@{
    ViewData["Title"] = "Options";
    <link rel="stylesheet" href="~/css/fondoOptions.css" asp-append-version="true" />
}

<div class="row d-flex justify-content-between">

        <img class="logo ms-4 mt-4" src="../assets/img/Logo.png" alt="Descripci贸n de la imagen">    

        <img class="logoWifi me-4 mt-4" src="../assets/img/iconWifiFree.png" alt="Descripci贸n de la imagen">

</div>

<div class="container" style="height: 50vh;">

    <div class="d-flex flex-column justify-content-center align-item-center" style="height: 100%;">

        <div class="row d-flex justify-content-center">
            <div class="col d-flex justify-content-center ">
                <img class="logo" src="../assets/img/iconClick.png" alt="Descripci贸n de la imagen">
            </div>
        </div>

        <div class="row">
            <h4 class="text-center mb-5 textDescription">Toque la opci贸n de servicio que desea en esta pantalla para tomar un turno</h4>
        </div>

        <div class="row btnOptions d-flex justify-content-center">
            <div class="col-md-3">
                <a type="button" class="btn btn-primary btnCustom me-5 mb-3 w-100">Solicitar Medicamento</a>
            </div>

            <div class="col-md-3">
                <a type="button" class="btn btn-primary btnCustom me-5 mb-3 w-100 ">Ver Facturas</a>
            </div>

            <div class="col-md-3">
                <a type="button" class="btn btn-primary btnCustom me-5 mb-2 w-100">Solicitar Citas</a>
            </div>
        </div>
    </div>
</div>


