
@{
    ViewData["Title"] = "Options";
    <link rel="stylesheet" href="~/css/fondoOptions.css" asp-append-version="true" />
}

<div class="row row-logos d-flex justify-content-between mb-2">

        <img class="logo ms-4 mt-4 img-fluid" src="../assets/img/Logo.png" alt="Descripci贸n de la imagen">    

        <img class="logoWifi me-4 mt-4 img-fluid" src="../assets/img/iconWifiFree.png" alt="Descripci贸n de la imagen">

</div>

<div class="container" style="height: 60vh;">

    <div class="d-flex flex-column justify-content-center align-item-center" style="height: 100%; width: 100%">

        <div class="row d-flex justify-content-center">
            <div class="col d-flex justify-content-center ">
                <img class="logoClick img-fluid" src="../assets/img/iconClick.png" alt="Descripci贸n de la imagen">
            </div>
        </div>

        <div class="row">
            <h4 class="text-center mb-5 textDescription">Toque la opci贸n de servicio que desea en esta pantalla para tomar un turno</h4>
        </div>

        <div class="row btnOptions d-flex justify-content-center">
            <div class="col-md-3">
                <a asp-route-servicio="SM" class="btn btn-primary btnCustom me-5 mb-3 w-100" asp-controller="usuario" asp-action="ticket" value="SM">Solicitar Medicamento</a>
            </div>

            <div class="col-md-3">
                <a asp-route-servicio="VF" class="btn btn-primary btnCustom me-5 mb-3 w-100" asp-controller="usuario" asp-action="ticket" value="PF">Ver Facturas</a>
            </div>

            <div class="col-md-3">
                <a asp-route-servicio="SC" class="btn btn-primary btnCustom me-5 mb-2 w-100" asp-controller="usuario" asp-action="ticket" value="SC">Solicitar Citas</a>
            </div>
        </div>
    </div>
</div>


