@{
    ViewData["Title"] = "TicketScreen";
}

@{
    if(TempData ["Update"] != null){
        <div class="alert alert-success mt-3" role="alert">
            @TempData["Update"]
        </div>
    }
}

<head>
    <link rel="stylesheet" href="~/css/SkormJF.css" />
</head>

<section class="Main">
    <div class="slider">
        <figure class="slider-move">
            <img class="Fondo1"></img>
            <img class="Fondo2"></img>
    using Microsoft.EntityFrameworkCore.Metadata.Internal;
            <img class="Fondo3"></img>
            <img class="Fondo4"></img>
            <img class="Fondo5"></img>
            <img class="Fondo6"></img>
            <img class="Fondo7"></img>
            <img class="Fondo8"></img>
        </figure>
        <figure class="slider-move">
            <img class="Fondo1"></img>
            <img class="Fondo2"></img>
            <img class="Fondo3"></img>
            <img class="Fondo4"></img>
            <img class="Fondo5"></img>
            <img class="Fondo6"></img>
            <img class="Fondo7"></img>
            <img class="Fondo8"></img>
        </figure>
    </div>
    <div class="Tickets">
        <div class="FondoTabla">
            <div class="table">
                <table class="table table-bordered text-center text-dark">
                    <thead class="table table-primary text-center">
                        <tr>
                            <td>Turnos</td>
                            <td>Módulos</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var Turnos in Model){
                            if(@Turnos.Estado ==  "En proceso"){

                                <tr>
                                    <td>@Turnos.NameTurno</td>
                                    <td>@Turnos.Modulo</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>





