@{
    ViewData["Title"] = "Ticket";
}

<link rel="stylesheet" href="~/css/ticket.css" asp-append-version="true" />

<header class="container-fluid mb-5">
    <div class="row justify-content-between">
        <div class="col-auto">
            <img class="logo img-fluid ms-4" src="../assets/img/Logo.png" alt="Clinic Logo">
        </div>
        <div class="col-auto">
            <img class="logoWifi img-fluid me-4" src="../assets/img/iconWifiFree.png" alt="Free WiFi Icon">
        </div>
    </div>
</header>

<main class="container">
    <div class="d-flex flex-column justify-content-center align-items-center h-100">
        <div class="col-md-7 containerInfo text-center">
            <h2 class="mb-2">ID: <span>@ViewBag.user</span></h2>
            <h2 class="mb-3">Fecha: <span>@ViewBag.FechaActualInicio</span></h2>
            <h3 class="mb-3">CLINICA LA MISERICORDIA</h3>
            <h2 class="mb-2">Su turno es: ID: @ViewBag.IDuser</h2>
            <h1 class="ticket">@ViewBag.CodigoTurno</h1>
            <div class="qr-container row justify-content-center">
                <img class="qrGenerator img-fluid" src="data:image/png;base64,@ViewBag.QRCodeImage" alt="Generated QR Code for Ticket">
            </div>
        </div>
    </div>
</main>
