<br>
<br>
<br>
<br>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="">
                <h1>Turnos en Pantalla</h1>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Turno</th>
                        <th scope="col">Documento de usuario</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var Turnos in Model){
                        <tr>
                            <th scope="row">1</th>
                            <td>5-MC105</td>
                            <td>10254840</td>
                            <td>En proceso</td>
                            <td>
                                <button class="btn btn-primary">Liberar</button>
                                <button class="btn btn-danger">Ausente</button>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <br>
        <br>
        <div class="col-md-12">
            <br>
            <br>
            <br>
            <div class="" >
                <h1>Gestor Turnos</h1>
                <button>Medicamentos</button>
                <button>Realizar Pagos</button>
                <button>Cita General</button>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Turno</th>
                        <th scope="col">Documento De usuario</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var Turnos in Model){
                        <tr>
                            <th scope="row">1</th>
                            <td>mc-128</td>
                            <td>1023626270</td>
                            <td>En espera</td>
                            <td>
                                <button class="btn btn-primary">Subir Turno</button>
                            </td>

                        </tr>

                    }
                    
                </tbody>
            </table>
        </div>
    </div>
</div>
