@{
    ViewBag["Title"] = "Index";
}

<!DOCTYPE html>
<html lang="en">
<head>
    
    
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="text-center">Login</h1>

                <form class="form" method="post">
                    <div class="mb-3">
                        <label>Document</label>
                        <input class="form-control" type="text" placeholder="Document...">
                    </div>
                    <div class="mb-3">
                        <label>Password</label>
                        <input class="form-control" type="text" placeholder="Password...">
                    </div>

                    <button class="btn btn-sm btn-success" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>