@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html lang="en">
<head>
    
    
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card mt-5 px-5">
                    <h1 class="text-center mt-5">Login</h1>

                    <form class="form mb-5 mt-5 d-flex flex-column justify-content-center" method="post">
                        <div class="mb-3">
                            <label>Document</label>
                            <input class="form-control" type="text" placeholder="Document...">
                        </div>
                        <div class="mb-3">
                            <label>Password</label>
                            <input class="form-control" type="text" placeholder="Password...">
                        </div>

                        <button class="btn btn-sm btn-success" type="submit" asp-controller="Empleados" asp-action="Home">Submit</button>
                    </form>
                </div>
                
            </div>
        </div>
    </div>
</body>
</html>